<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>person</title>
</head>
<body>
<p th:text="${person.getFull_name() + ', ' + person.getDate_of_birth()}">VALUE</p>

<div th:if="${personsBooks.isEmpty()}" >
    <p> Person didn't get any book </p>
    <hr/>
</div>

<div th:if="${!personsBooks.isEmpty()}" >
    <hr/>
    <b> Books: </b>
    <br/>
   <table th:each="book : ${personsBooks}" >
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
        th:style="${book.isOverdue() ? 'color:red' : 'color:black'}"> book </tr>
    </table>
    <hr/>
</div>



<a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>